<!DOCTYPE html>
<html>
    <head>
        <title>Carnet d'adresses</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/b7e5567521.js" crossorigin="anonymous"></script>
    </head>
</html>
<body>
    <header>
        <div class="entete">
            <a href="/"><img src="/images/carnet.png" alt="Carnet d'adresses"></a>
            <h1>Le carnet d'adresses</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/"><i class="fas fa-home"></i></a></li>
                <li><a href="/contacts/add"><i class="fas fa-user-plus"></i></a></li>
            </ul>
        </nav>
    </header>
